{% extends 'main.html' %} {% block content %}

<h1>courses template</h1>

<br />
<br />
<table>
  <tr>
    <th>course</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {% for course in courses %}
  <tr>
    <td>{{course.name}}</td>
    <td></td>
    <td></td>
    <td><a href="{% url 'course' course.id %}">view</a></td>
    <td><a href="{% url 'update-course' course.id %}">Edit</a></td>
    <td><a href="{% url 'delete-course' course.id %}">delete</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}
